# Backend Config
DEBUG=True
SECRET_KEY=votre_cle_secrete_django
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
DATABASE_URL=sqlite:///db.sqlite3

# Cloudinary Config (Requis pour les images en production)
CLOUDINARY_CLOUD_NAME=votre_cloud_name
CLOUDINARY_API_KEY=votre_api_key
CLOUDINARY_API_SECRET=votre_api_secret

# Auto-Setup Admin (pour le premier déploiement)
ADMIN_USERNAME=admin
ADMIN_EMAIL=votre@email.com
ADMIN_PASSWORD=votre_mot_de_passe_fort
